altair==5.1.1
attrs==23.1.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.1
cryptography==41.0.3
cycler==0.11.0
extra-streamlit-components==0.1.60
faker==19.6.1
favicon==0.7.0
fonttools==4.42.1
gitdb==4.0.10
gitpython==3.1.36
htbuilder==0.6.2
idna==3.4
importlib-metadata==6.8.0
jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
lxml==4.9.3
markdown==3.4.4
markdown-it-py==3.0.0
markdownlit==0.0.7
markupsafe==2.1.3
matplotlib==3.8.0
mdurl==0.1.2
more-itertools==10.1.0
numpy==1.25.2
pandas==2.1.0
paramiko==3.3.1
pillow==9.5.0
plotly==5.17.0
protobuf==3.20.3
pyarrow==13.0.0
pycparser==2.21
pydeck==0.8.0
pyjwt==2.8.0
pymdown-extensions==10.3
pympler==1.0.1
pymysql==1.1.0
pynacl==1.5.0
pyparsing==3.1.1
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pyyaml==6.0.1
referencing==0.30.2
requests==2.31.0
rich==13.5.2
rpds-py==0.10.3
smmap==5.0.0
soupsieve==2.5
sshtunnel==0.4.0
st-annotated-text==4.0.1
streamlit==1.26.0
streamlit-authenticator==0.2.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-embeded==0.0.1
streamlit-extras==0.3.2
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-space==0.1.5
streamlit-toggle==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
typing-extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.4
validators==0.22.0
watchdog==3.0.0
zipp==3.16.2
streamlit-authenticator